<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Is Steve Klabnik tweeting about politics?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/index.css" rel="stylesheet" media="screen">

    <script src="/static/js/jquery-1.10.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <h2>Is Steve Klabnik tweeting about politics?</h2>

      <img src="/static/img/steveklabnik.jpg" alt="Steve Klabnik" />

      {% if tweet.political %}
      <h1>YES</h1>
      {% else %}
      <h1>NO</h1>
      {% endif %}

      {% if tweet.retweet and tweet.political %}
      <h4>(Well, <i>retweeting</i> about politics)</h4>
      {% endif %}

      {% if tweet.retweet and not tweet.political %}
      <h4>(Well, not <i>retweeting</i> about politics)</h4>
      {% endif %}

      <div id="tweet">
      {{ tweet.html|safe }}
      </div>
    </div>
  </body>

</html>