{% extends "base.html" %}

{% block content %}
<h2>Is Steve Klabnik tweeting about politics?</h2>

<img src="/static/img/steveklabnik.jpg" alt="Steve Klabnik" />

{% if tweet.political %}
<h1>YES</h1>
{% else %}
<h1>NO</h1>
{% endif %}

{% if tweet.retweet and tweet.political %}
<h4>(Well, <i>retweeting</i> about politics)</h4>
{% endif %}

{% if tweet.retweet and not tweet.political %}
<h4>(Well, not <i>retweeting</i> about politics)</h4>
{% endif %}

<div id="tweet">
{{ tweet.html|safe }}
</div>

<div>
  <a href="/wrong">
  {% if not "corrected" in tweet %}
    {% if tweet.political %}
    Hey, this isn't about politics!
    {% else %}
    Hey, this IS about politics! 
    {% endif %}
  {% endif %}
  </a>
</div>
{% endblock %}